mixin footer(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('mod-name1, mod-name2')

  -
    // список модификаторов
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' footer--' + modsList[i].trim();
      }
    }

  footer.footer(class=allMods data-controller="footer")
    .container
      h1 I'm Footer
