//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include lipsum
include ../modules/header/header
include ../modules/icon/icon
include ../modules/footer/footer
include ../modules/img/img
include ../modules/checkbox/checkbox
include ../modules/radio/radio
