//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ./lipsum/lipsum
include ./icon/icon
include ./img/img
include ./checkbox/checkbox
include ./radio/radio
include ../components/header/header
include ../components/footer/footer
