.btn {
  @include trs;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  font-size: $main-font-size;
  line-height: 1;
  padding: 10px 10px;
  text-transform: uppercase;
  background: #b7c4ff;
  color: $main-font-color;
  border: 1px solid #000;
  border-radius: $global-radius;
  position: relative;
  width: 100%;
  display: block;

  &:hover,
  &.active {
    color: $white;
    background: #43455c;
    border-color: #43455c;
  }

  &:focus {
    //focus
  }

  &.disabled,
  &[disabled='disabled'],
  &[disabled] {
    background: $gray;
    color: $medium-gray;
    cursor: not-allowed;
    border-color: $medium-gray;
  }
}
