textarea,
select,
.input {
  background-color: #fff;
  border: 1px solid #bcbcbc;
  color: $main-font-color;
  font-size: $main-font-size;
  line-height: $main-font-height;
  padding: 0 20px;
  height: 40px;
  width: 100%;
  display: block;
  transition: $global-transition;
  appearance: none;
  border-radius: 0;
  @include placeholderColor(#9c9c9c);

  &:focus {
    border-color: #696969;
    background-color: #fff;
  }

  &.disabled,
  &[disabled='disabled'],
  &[disabled] {
    background-color: #f3f3f3;
  }
}

textarea {
  height: 150px;
  resize: none;
  padding: 10px 20px;
}

input[type='file'] {
  display: none;

  & + label {
    display: block;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 25px 15px;
    color: $gray;
    text-align: center;
    border: 1px dashed #c4c4c4;
    transition: 0.2s ease-in-out;

    &:hover {
      border-color: #696969;
      background: #e9e9e9;
    }
  }
}
