link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

script(type='text/javascript' defer)
  include ./admin-panel.js

style
  include admin-panel.css

include ../test/test
    
._AP-nav
  ._AP-nav__btn
._AP
  ._AP__holder     
    include ../page-list/page-list
