//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include _mixins
include ../modules/header/header
include ../modules/icon/icon
include ../modules/footer/footer
